.lago-tool-box {
  position: fixed;
  bottom: 30px;
  right: 95px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #1a72ffa0;
}
